:root{
    --popup-light-animation-time: .3s;
    --popup-light-mask-opacity: .6;

    --popup-light-primary-color: #409fff;
    --popup-light-primary-weak-color: #f1f8ff;
    --popup-light-primary-shadow-color: #409fff26;

    --popup-light-success-color: #52c41a;
    --popup-light-success-weak-color: #f6fff2;
    --popup-light-success-shadow-color: #52c41a26;

    --popup-light-warning-color: #e6a23c;
    --popup-light-warning-weak-color: #fffaf3;
    --popup-light-warning-shadow-color: #e6a23c26;

    --popup-light-error-color: #f56c6c;
    --popup-light-error-weak-color: #fff4f4;
    --popup-light-error-shadow-color: #f56c6c26;

    --popup-light-default-button-text-color: #606666;
    --popup-light-default-button-border-color: #dcdff6;
    --popup-light-default-button-background-color-hover: #ecf5ff;
    --popup-light-default-button-border-color-hover: #c6e2ff;
    
    --popup-light-input-border-color:#d7deee;
    --popup-light-input-border-color-hover:#999da6;
}

.light-popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, var(--popup-light-mask-opacity));
    animation:light-popup-in var(--popup-light-animation-time);
    z-index: 10000;
}

.light-popup.light-popup-closing{
    animation:light-popup-out var(--popup-light-animation-time) forwards
}

.light-popup.light-popup-closing .light-popup-in{
    animation:light-popup-out-inner var(--popup-light-animation-time) forwards
}

.light-popup .light-popup-in{
    padding:15px;
    background-color: #fff;
    box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    border-radius: 5px;
    width: 400px;
    max-width: calc(100% - 20px);
    animation:light-popup-in-inner var(--popup-light-animation-time);
    overflow: hidden;
    box-sizing: border-box;
}

.light-popup .light-popup-in .light-popup-head{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    height: 24px;
    line-height: 1;
}

.light-popup .light-popup-in .light-popup-head .light-popup-close{
    cursor: pointer;
}

.light-popup .light-popup-in .light-popup-head .light-popup-close svg{
    width: 22px;
}

.light-popup .light-popup-in .light-popup-body{
    display: flex;
    align-items: center;
}

.light-popup .light-popup-in .light-popup-body .light-popup-icon{
    margin-right: 10px;
    font-size: 0;
}

.light-popup .light-popup-in .light-popup-body .light-popup-content{
    flex:1;
    word-break: break-all;
}

.light-popup .light-popup-in .light-popup-body .light-popup-content .light-popup-prompt-in .light-popup-prompt-content{
    margin-bottom: 5px;
}

.light-popup-input{
    width:100%;
    color:#606266;
    border:solid 1px var(--popup-light-input-border-color);
    border-radius: 4px;
    height: 32px;
    padding:0 10px;
    transition: border-color .3s;
    box-sizing: border-box;
}

.light-popup-input:hover{
    border-color: var(--popup-light-input-border-color-hover);
}

.light-popup-input:focus{
    border-color: var(--popup-light-primary-color);
}

.light-popup .light-popup-in .light-popup-bottom{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    margin-top: 15px;
}

.light-popup-loading .light-popup-in {
    background-color: transparent;
    box-shadow: none;
    color:#fff;
}

.light-popup-loading .light-popup-in .light-popup-body{
    flex-direction: column;
    gap:5px;

}

.light-popup-loading .light-popup-in .light-popup-body .light-popup-icon{
    margin-right: 0;
}

.light-popup-loading .light-popup-in .light-popup-body .light-popup-icon rect{
    fill:#fff;
}

.light-popup-hint{
    pointer-events: none;
    align-items: flex-start;
}

.light-popup-hint .light-popup-in {
    pointer-events: auto;
    box-shadow: 0px 0px 20px #9E9E9E26;
    padding: 8px 12px;
    color: #868686;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-sizing: border-box;
}

.light-popup-hint .light-popup-has-icon-success{
    box-shadow: 0px 0px 20px var(--popup-light-success-shadow-color);
    color: var(--popup-light-success-color);
    background-color: var(--popup-light-success-weak-color);
}

.light-popup-hint .light-popup-has-icon-warning{
    box-shadow: 0px 0px 20px var(--popup-light-warning-shadow-color);
    color: var(--popup-light-warning-color);
    background-color: var(--popup-light-warning-weak-color);
}

.light-popup-hint .light-popup-has-icon-error{
    box-shadow: 0px 0px 20px var(--popup-light-error-shadow-color);
    color: var(--popup-light-error-color);
    background-color: var(--popup-light-error-weak-color);
}

.light-popup-hint .light-popup-has-icon-loading{
    box-shadow: 0px 0px 20px var(--popup-light-primary-shadow-color);
    color: var(--popup-light-primary-color);
    background-color: var(--popup-light-primary-weak-color);
}

.light-popup-hint.light-popup-closing .light-popup-in{
    animation:none;
}

.light-popup-hint .light-popup-in .light-popup-body .light-popup-icon svg{
    width: 20px;
    height: 20px;
}

.light-popup-hint .light-popup-in,
.light-popup-loading .light-popup-in,
.light-popup-message .light-popup-in{
    width: auto;
}


@keyframes light-popup-in{0%{opacity: 0;}100%{opacity: 1;}}
@keyframes light-popup-in-inner{0%{transform:translateY(-.5em)}100%{transform:translateY(0)}}
@keyframes light-popup-out{0%{opacity: 1;}100%{opacity: 0;}}
@keyframes light-popup-out-inner{0%{transform:translateY(0)}100%{transform:translateY(-.5em)}}

.light-popup-button{
    display: flex;
    align-items: center;
    color: var(--popup-light-default-button-text-color);
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;
    border:solid 1px var(--popup-light-default-button-border-color);
    height: 32px;
    line-height: 1;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s;
    box-sizing: border-box;
}

.light-popup-button-loading{
    font-size: 0;
    margin-right: 3px;
}

.light-popup-button-loading svg{
    width: 18px;
    height: 18px;
}

.light-popup-button[disabled]{
    cursor: default;
    opacity: .7;
}

.light-popup-button-default:not([disabled]):hover{
    background-color: var(--popup-light-default-button-background-color-hover);
    border-color: var(--popup-light-default-button-border-color-hover);
    color:var(--popup-light-primary-color);
}

.light-popup-button-primary{
    background-color: var(--popup-light-primary-color);
    border-color: var(--popup-light-primary-color);
    color: #fff;
}

.light-popup-button-success{
    background-color: var(--popup-light-success-color);
    border-color: var(--popup-light-success-color);
    color: #fff;
}

.light-popup-button-warning{
    background-color: var(--popup-light-warning-color);
    border-color: var(--popup-light-warning-color);
    color: #fff;
}

.light-popup-button-error{
    background-color: var(--popup-light-error-color);
    border-color: var(--popup-light-error-color);
    color: #fff;
}

.light-popup-button:not([disabled],.light-popup-button-default):hover{
    opacity: .85;
}

.light-popup-button .light-popup-button-loading svg{
    margin-right: 2px;
}

.light-popup-button:not(.light-popup-button-default) .light-popup-button-loading rect{
    fill:#fff;
}